/* .my-form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}

.my-form-box {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-form-header {
  text-align: center;
  margin-bottom: 20px;
}

.my-form-header h1 {
  font-size: 24px;
  color: #333;
}

.my-form-body .form-group {
  margin-bottom: 20px;
}

.my-form-body label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.my-form-body input[type="email"],
.my-form-body input[type="text"],
.my-form-body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.my-form-footer {
  text-align: center;
}

.my-form-footer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.my-form-footer button:hover {
  background-color: #0056b3;
} */

/* In your MyForm.css file or style component */
.my-form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7ecfc;
}

.my-form-box {
  width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-form-header {
  text-align: center;
  margin-bottom: 20px;
}

.my-form-header h1 {
  font-size: 24px;
  color: #333;
}

.my-form-body {
  margin-bottom: 10px; /* Add margin to create space between the form and the button */
  overflow: auto;
}

.my-form-body .form-group {
  margin-bottom: 30px;
}

.my-form-body label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.my-form-body input[type="email"],
.my-form-body input[type="text"],
.my-form-body textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.react-quill {
  height: 200px; /* Decrease the default height for better visibility */
  margin-bottom: 20px; /* Add margin to create space between the editor and the button */
}

/* If you want to make it resizable */
.react-quill .ql-editor {
  resize: vertical;
  overflow-y: auto;
}

.my-form-footer {
  text-align: center;
  margin-top: 30px; /* Add margin to create space between the button and the form footer */
}

.my-form-footer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.my-form-footer button:hover {
  background-color: #0056b3;
}
